{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>details</title>
        <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="header-lx">

            <div class="logo">
                <a class="img" href="#">
                    <img src="{% static 'images/logo.png' %}" alt="灵犀"/>
                </a>
            </div>

            <div class="menu-lx">
                <div class="search">
                    <div class="ui icon input">
                        <input type="text" style="width:400px;border-radius:20px;" placeholder="输入关键词">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="header-menu">
                    <ul class="menu-ul">
                    <li class="menu-text">新手帮助</li>
                    <li class="menu-text">关于我们</li>
                    <li class="menu-text">隐私保护</li>
                    <li class="menu-text">社区条款</li>
                    <li class="menu-text">联系我们</li>
                </ul>
                </div>
            </div>

            <div class="message">
                {% if request.user %}
                    <div class="ui basic segment user">
                        <img class="ui avatar image user" src="/upload/{{ request.user.profile.profile_images }}">
                        <span class="user-span">
                            {{ request.user.username }}
                        </span>
                        <span class="user-span">
                            <i class="chevron circle down icon"></i>
                        </span>
                    </div>
                {% else %}
                    <a href="#" class="login">登录或注册</a>
                {% endif %}
            </div>

        </div>
        <div class="content-lx">
            <div class="left-lx">
                <div class="btn-ask">
                    <button type="button" name="button" class="btn-ask-question">
                        <img src="{% static 'images/jiahao.png' %}" alt=""/>
                        <span class="ask-question-word">提问</span>
                    </button>
                </div>
                <ul class="ul-lx">
                    <li class="li-lx">
                        <a href="#" class="a-li-lx">
                            <img src="{% static 'images/wenhao.png' %}"/>
                            <span class="li-span-lx">问题</span>
                        </a>
                    </li>
                    <li class="li-lx-active">
                        <a href="#" class="a-li-lx">
                            <img src="{% static 'images/biaoqian.png' %}"/>
                            <span class="li-span-lx">标签</span>
                        </a>
                    </li>
                    <li class="li-lx">
                        <a href="#" class="a-li-lx">
                            <img src="{% static 'images/renwu_1.png' %}"/>
                            <span class="li-span-lx">用户</span>
                        </a>
                    </li>
                    <li class="li-lx">
                        <a href="#" class="a-li-lx">
                            <img src="{% static 'images/jianbei.png' %}"/>
                            <span class="li-span-lx">勋章</span>
                        </a>
                    </li>
                </ul>

                <div class="recent-status-div">
                    {% if new_question %}
                        <div class="ask-lx">
                            <p class="ask-p-lx">你提出了问题<a href="#" class="status-a-lx">{{ new_question.title }}</a>
                            </p>
                            <div class="time-lx">
                                {{ new_question.create_time|timesince }}以前
                            </div>
                        </div>
                    {% else %}
                    {% endif %}

                    {% if new_answer %}
                        <div class="answer-lx">
                            <p class="ask-p-lx">你回答了问题<a href="#" class="status-a-lx">{{ new_answer.title }}</a>
                            </p>
                            <div class="time-lx">
                                {{ new_answer.create_time|timesince }}以前
                            </div>
                        </div>
                    {% else %}
                    {% endif %}

                    <div class="accepted-lx">
                        <p class="accepted-p-lx">你赞同了答案<a href="#" class="status-a-lx">如何爱你的生活？</a>
                        </p>
                        <div class="time-lx">
                            1 小时以前
                        </div>
                    </div>
                </div>
                <div class="rights-lx">
                    <div class="rights-2014-lx">©2016</div>
                    <div >
                        <span class="term-lx">条款 & 隐私</span>
                    </div>
                </div>
            </div>

            <div class="middle-lx"></div>

            <div class="right-lx">
                <div class="questions-div">
                    <div>
                        <div class="question-title-lx">问题</div>
                        <div class="number-data-lx">{{ questions|length }}</div>
                    </div>
                </div>
                <div class="members-div">
                    <div>
                        <div class="question-title-lx">成员</div>
                        <div class="number-data-lx">{{ user_profile|length }}</div>
                    </div>
                </div>
{#                <div class="tags-div">#}
{#                    <div class="related-tags">#}
{#                        相关标签#}
{#                    </div>#}
{#                    <div class="one-tag">#}
{#                        <span class="tag-span-lx">生活</span>#}
{#                        <span class="tag-span-number">×2707</span>#}
{#                    </div>#}
{#                    <div class="one-tag">#}
{#                        <span class="tag-span-lx">财富</span>#}
{#                        <span class="tag-span-number">×1988</span>#}
{#                    </div>#}
{#                    <div class="one-tag">#}
{#                        <span class="tag-span-lx">努力</span>#}
{#                        <span class="tag-span-number">×1409</span>#}
{#                    </div>#}
{#                    <div class="one-tag">#}
{#                        <span class="tag-span-lx">吸引力</span>#}
{#                        <span class="tag-span-number">×923</span>#}
{#                    </div>#}
{#                    <div class="one-tag">#}
{#                        <span class="tag-span-lx">兴趣</span>#}
{#                        <span class="tag-span-number">×765</span>#}
{#                    </div>#}
{#                    <div class="one-tag">#}
{#                        <span class="tag-span-lx">设计师</span>#}
{#                        <span class="tag-span-number">×489</span>#}
{#                    </div>#}
{#                    <a href="#" class="more-related-tags">更多相关标签</a>#}
{#                </div>#}

                <div class="hot-questions-div">
                    <div class="new-hot-questions">新的热点问题</div>
                    <div class="ui divider"></div>
                    {% for q in questions %}
                        <div class="hot-question-li">
                            <span class="hot-question-avatar">
                                <img class="ui circular image" src="/upload/{{ q.questioner.profile_images }}">
                            </span>
                            <span class="hot-question-title">
                                <a href="#">{{ q.title }}</a>
                            </span>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

</body>
</html>
