{% extends "base.html" %}
{% load staticfiles %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="ui basic segment">
    <h1 class="ui hearder">{{ request.user.username }}的个人资料</h1>
</div>
    <div class="ui basic segment grid">
        <div class="six wide column profile">
            <span class="profile-span">
                <img src="/upload/{{ request.user.profile.profile_images }}" alt="" class="ui tiny circular image profile">
            </span>
            <ul class="profile-ul">
                <li class="profile name">{{ request.user.username }}</li>
                <li>
                    <i class="marker icon"></i>
                </li>
                <li><i class="mail icon"></i></li>
            </ul>
        </div>
        <div class="four wide column">
            <div class="badge">
                <span class="user-badge" style="background-color:#8e44ad;" >Professer</span>
                <br>
                <span class="points-count">
                    9999
                </span>
                <span class="star">
                    <i class="star icon"></i>
                    <br>
                    分
                </span>
            </div>
        </div>
        <div class="three wide column">
            <p class="questions-count">
                问题
                <br>
                <span>{{ questions_count }}</span>
            </p>
        </div>
        <div class="three wide column">
            <p class="questions-count">
                答案
                <br>
                <span></span>
            </p>
        </div>
    </div>
<div class="ui secondary pointing menu custom">
    <a href="?order_by=time" class="active item">Questions</a>
    <a href="?order_by=votes" class="item">Polls</a>
    <a href="?order_by=unanswer" class="item">Answers</a>
</div>


{% for question in ques %}
<div class="ui basic segment question">
    <div class="ui grid">
        <div class="twelve wide column">
            <div class="ui basic segment">
            <h4 class="ui hearder">{{question.title}}</h4>
            <a href="#">{{ question.detail }}</a>
            <div class="ui basic segment" style="padding-left:0px;margin-top:0px;">
                <img class="ui avatar image" src="/upload/{{ question.questioner.profile_images }}">
                {% ifequal question.questioner.title  '教授' %}
                  <div class="ui purple horizontal label" style="text-align:center;">
                      {{ question.questioner.title }}
                  </div>
                {% endifequal %}
                {% ifequal question.questioner.title  '副教授' %}
                  <div class="ui yellow horizontal label" style="text-align:center;">
                      {{ question.questioner.title }}
                  </div>
                {% endifequal %}
                {% ifequal question.questioner.title  '博士' %}
                  <div class="ui teal horizontal label" style="text-align:center;">
                      {{ question.questioner.title }}
                  </div>
                {% endifequal %}
                {% ifequal question.questioner.title  '硕士' %}
                  <div class="ui blue horizontal label" style="text-align:center;">
                      {{ question.questioner.title }}
                  </div>
                {% endifequal %}
                  <span style="color:grey;">{{ question.create_time|timesince }}前提问.</span>
            </div>
        </div>


        </div>
        <div class="one wide column">
            <button type="button" name="button" class="ui basic circular icon button info">
                <span style="font-size:17px;">{{ question.views }}</span>
            </button>
            <span style="display:block;margin-top:10px;margin-left:10px;">
                views
            </span>
        </div>
        <div class="one wide column">
            <button type="button" name="button" class="ui basic circular icon button info">
                <span style="font-size:17px;">{{ question.question_answer.count }}</span>
            </button>
            <span style="display:block;margin-top:10px;margin-left:10px;">
                answer
            </span>
        </div>
        <div class="one wide column">
            <button type="button" name="button" class="ui basic circular icon button info">
                <span style="font-size:17px;">{{ question.votes }}</span>
            </button>
            <span style="display:block;margin-top:10px;margin-left:10px;">o
                votes
            </span>
        </div>
    </div>

</div>
{% endfor %}





<div class="ui pagination menu" style="margin-top:20px;margin-left:10px;">
    <a class="item" href="?page=1">
      first
    </a>
    {% for page_number in page_list %}
        {% ifequal page_number ques.number %}
        <a class="active item" >
            {{ page_number }}
        </a>
        {% else %}
            <a class="item" href="?page={{ page_number }}">
              {{ page_number }}
            </a>
        {% endifequal %}
    {% endfor %}
    <a class="item" href="?page={{ ques.paginator.num_pages }}">
      last
    </a>
</div>
{% endblock %}

{% block left %}
<div class="left-lx">
    <div class="btn-ask">
        <button type="button" name="button" class="btn-ask-question">
            <img src="{% static 'images/jiahao.png' %}" alt=""/>
            <span class="ask-question-word">提问</span>
        </button>
    </div>
    <ul class="ul-lx">
        <li class="li-lx">
            <a href="#" class="a-li-lx">
                <img src="{% static 'images/wenhao.png' %}"/>
                <span class="li-span-lx">问题</span>
            </a>
        </li>
        <li class="li-lx">
            <a href="#" class="a-li-lx">
                <img src="{% static 'images/biaoqian.png' %}"/>
                <span class="li-span-lx">标签</span>
            </a>
        </li>
        <li class="li-lx-active">
            <a href="#" class="a-li-lx">
                <img src="{% static 'images/renwu_1.png' %}"/>
                <span class="li-span-lx">用户</span>
            </a>
        </li>
        <li class="li-lx">
            <a href="#" class="a-li-lx">
                <img src="{% static 'images/jianbei.png' %}"/>
                <span class="li-span-lx">勋章</span>
            </a>
        </li>
    </ul>
{% endblock %}
